{% include 'head.html'%}

  <body>
    <!-- Container exterior -->
    <div>
      <div class="item">
        <h1 style="color: #FF5757; text-shadow: 1px 1px 2px black;">{{mensagem}}.</h1>
        <br/>
        <a type="button" class="btn" style="background-color: #FF5757; color: white; font-size: 12px;" href="/login" >Retornar à tela de login</a>
      </div>
      <div class="item">
        <a type="button" class="btn button-login form-control btn-danger mb-3 text-userpick button-home" style="max-width: 50rem;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Solicitar uma entrega</a>
      </div>
    </div>
{% include 'modal_entrega.html' %}
  </body>

{% include 'footer.html'%}
